/*
#3d6020 - Verde
*/

/* APP Header */
nav {
    /*background-color: #0a508c;*/
}
.brand-logo img {
    display: block;
    height: 30px;
    margin-top: 13px;
}

/* Lista de Lançamentos */
.section-lancamentos .collection .collection-item.avatar {
    min-height: inherit;
}
.section-lancamentos [type="checkbox"]+span:not(.lever) {
    padding-left: 20px;
}

/* SECTION: Lançamentos */
.section-lancamentos header {
    display: flex;
    border-bottom: 1px solid #ddd;
}
.section-lancamentos header h1 {
    flex-grow: 1;
    font-size: 1.5rem;
    margin: 0;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
}
.section-lancamentos header a {
    align-items: center;
    color: #000;
    display: flex;
    padding: 20px;
}
.section-lancamentos ul {
    margin: 0;
}
.section-lancamentos li {
    border-bottom: 1px solid #ddd;
}
.section-lancamentos li p {
    display: flex;
    line-height: 20px;
    margin: 0 auto;
}
.lancamento-realizado {
    background: #e8f5e9 ;
}
.lancamento-incompleto {
    opacity: .5;
}
.lancamento-label {
    flex-grow: 1;
    padding: 10px 10px 10px 15px;
}
.lancamento-valor {
    text-align: right;
    padding: 10px 15px 10px 10px;
    white-space: nowrap;
}
.lancamento-valor strong {
    font-weight: 700;
}
.lancamento-check {
    align-items: center;
    border-left: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    padding: 10px 20px;
}
.lancamento-check [type="checkbox"]+span:not(.lever) {
    margin: -3px 0 -2px 0;
}
.lancamento-check [type="checkbox"]+span:not(.lever):before,
.lancamento-check [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    border-color: #aaa;
    /*border-top-width: 0;
    height: 2px;
    top: 9px;
    width: 20px;*/
}
.lancamento-check [type="checkbox"]:checked+span:not(.lever):before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid #26a69a;
    border-bottom: 3px solid #26a69a;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.lancamentos-saldo {
    border-bottom: 1px solid #ddd;
}
.lancamentos-saldo th,
.lancamentos-saldo td {
    font-size: .8rem;
    padding: 5px 2px;
    text-align: right;
    white-space: nowrap;
}
.lancamentos-saldo th:first-child,
.lancamentos-saldo td:first-child {
    padding-left: 15px;
}
.lancamentos-saldo th:last-child,
.lancamentos-saldo td:last-child {
    padding-right: 15px;
}
.lancamentos-saldo th {
    width: 1%;
}
.lancamentos-saldo thead td,
.lancamentos-saldo thead th {
    background: #efefef;
    font-weight: bold;
}
.lancamentos-saldo thead tr {
    border-color: #ddd;
}
.lancamentos-saldo tbody tr {
    border-bottom: 0 none;
}

.lancamentos-controles {
    background: #efefef;
    border-bottom: 1px solid #ddd;
    display: flex;
    padding: 0 15px;
}
.lancamentos-controles h2 {
    flex-grow: 1;
    font-size: 1rem;
    font-weight: 700;
    line-height: 18px;
    margin: 0;
    padding: 10px 15px 10px 0;
    text-transform: uppercase;
}
.lancamentos-controles a {
    align-items: center;
    display: flex;
}

/* Novio Lançamento */
.section-novo-lancamentos h1 {
    font-size: 1.5rem;
}
.section-novo-lancamentos {
}
.inline-radiochecks {
    /*margin-bottom: 1rem;
    margin-top: 1rem;*/
}
.inline-radiochecks > div {
    align-items: center;
    display: flex;
    height: 3rem;
}
.inline-radiochecks > div label {
    padding-right: 2rem;
}
